@keyframes scaleOut {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #f5f5f5; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #333; }

::selection {
  background-color: #2d5068;
  color: #f5f5f5; }

body {
  font-family: 'Roboto Slab', serif; }

.navigation {
  font-size: 2.5rem; }

.heading {
  font-size: 4rem;
  font-weight: 400; }

.secondary-heading {
  font-weight: 200;
  font-size: 2rem; }

.paragraph {
  font-size: 2rem; }

.paragraph--small {
  font-size: 1.3rem; }

.link--small {
  font-size: 1.5rem; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-center-text {
  text-align: center !important; }

.u-underline-text {
  border-bottom: 1px solid #f5f5f5 !important; }

.card {
  margin: 3rem;
  position: relative; }
  .card__image {
    height: 20rem;
    border-radius: 5px; }
  .card__overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s; }
  .card:hover .card__overlay {
    background-color: rgba(51, 51, 51, 0.9);
    opacity: 1; }
  .card__info {
    margin: 10% .5rem 0; }
  .card__link {
    display: block; }

.navigation {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 3rem 12rem; }
  .navigation__item {
    border-bottom: 2px solid transparent;
    transition: border .2s;
    cursor: pointer;
    opacity: 0;
    animation: scaleOut .5s ease-out forwards;
    text-decoration: none; }
    .navigation__item:hover {
      border-bottom: 2px solid #f5f5f5;
      animation-play-state: initial;
      opacity: .5; }

.intro {
  display: flex;
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40% !important;
  opacity: 0;
  animation: fadeIn .3s ease-out .2s forwards; }
  .intro__image {
    border-radius: 3px;
    height: 240px;
    width: 240px; }
  .intro__text {
    display: flex;
    flex-direction: column;
    margin: 1rem 6rem 3rem 6rem;
    letter-spacing: 1px; }

.skills__content {
  width: 75%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.skills__heading, .skills__paragraph {
  width: 70%;
  margin: auto; }

.skills__heading {
  margin-bottom: 5rem; }

.projects__text {
  width: 80%;
  margin: auto; }

.projects__heading, .projects__paragraph {
  width: 70%;
  margin: auto; }

.projects__heading {
  position: relative;
  top: 5rem;
  margin-bottom: 5rem; }

.projects__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 20rem auto 0; }

.contact {
  height: auto; }
  .contact__heading {
    padding: 5rem 0; }
  .contact__icons {
    padding: 7rem 0;
    display: flex;
    justify-content: center; }
  .contact__icon {
    height: 40px;
    margin: .7rem;
    position: relative;
    transition: all .3s; }
    .contact__icon path {
      fill: #f5f5f5; }
    .contact__icon:hover {
      transform: translateY(-1rem); }

body > section {
  height: 100vh; }
  body > section:nth-child(even) {
    background-color: #222; }
