*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #fff; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #333; }

::selection {
  background-color: #2d5068;
  color: #fff; }

body {
  font-family: 'Lora', serif; }

.heading--small {
  font-size: 4rem; }

.paragraph {
  font-size: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.hero {
  height: 100vh; }

.navigation {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  margin: 0;
  padding: 3rem 12rem; }
  .navigation__item {
    border-bottom: 2px solid transparent;
    transition: border .2s;
    cursor: pointer; }
    .navigation__item:hover {
      border-bottom: 2px solid #fff; }

.intro {
  display: flex;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .intro__image {
    border-radius: 3px; }
  .intro__text {
    display: flex;
    flex-direction: column;
    margin: 3rem 6rem;
    letter-spacing: 1px; }
