.contact {
    height: auto;

    &__heading {
        padding: 5rem 0;
    }

    &__icons {
        padding: 7rem 0;
        display: flex;
        justify-content: center;
    }

    &__icon {
        height: 40px;
        margin: .7rem;
        position: relative;
        transition: all .3s;

        & path {
            fill: $color-white;
            transition: fill .3s;
        }

        &:hover {
            transform: translateY(-1rem);
            
            & path {
                fill: $color-main;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact {
        &__icon:hover {
            transform: translateY(0);

            & path {
                fill: $color-white;
            }
        }
    }
}