.intro {
    display: flex;
    width: 50%;
    @include centerElement;

    &__image {
        border-radius: 3px;
        height: 240px;
        width: 240px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 1rem 6rem 3rem 6rem;
        letter-spacing: 1px;
    }
}