.navigation {
    background-color: $color-darker;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 3rem 12rem;
    position: fixed;
    z-index: 9999;
    opacity: .9;

    &__item {
        transition: color .2s;
        cursor: pointer;
        opacity: 0;
        animation: scaleOut .5s ease-out forwards;
        text-decoration: none;

        &:hover {
            color: $color-main;
            opacity: .5;
        }
    }
}

@media only screen and (max-width: 750px) {
    .navigation {
        flex-direction: column;
        text-align: center;

        &__item {
            padding: 1rem 0;

            &:hover {
                color: $color-white;
                opacity: 1;
            }
        }
    }
}