.navigation {
    background-color: $color-darker;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 3rem 12rem;

    &__item {
        border-bottom: 2px solid transparent;
        transition: border .2s;
        cursor: pointer;
        opacity: 0;
        animation: scaleOut .5s ease-out forwards;

        &:hover {
            border-bottom: 2px solid $color-white;
            animation-play-state: initial;
            opacity: .5;
        }
    }
}