.projects {
    &__text {
        width: 80%;
        margin: auto;
    }

    &__heading,
    &__paragraph {
        width: 70%;
        margin: auto;
    }

    &__heading {
        position: relative;
        top: 5rem;
        margin-bottom: 5rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 10rem auto 0;
    }
}

@media only screen and (max-height: 1200px) {
    .projects {
        height: auto;

        &__cards {
            margin: 10rem auto !important;
        }
    }
}

@media only screen and (max-height: 1024px) {
    .projects__cards {
        margin-top: 1rem;
    }
}