.skills {
    &__content {
        width: 75%;
        @include centerElement;
    }

    &__heading,
    &__paragraph {
        width: 70%;
        margin: auto;
    }

    &__heading {
        margin-bottom: 5rem;
    }
}