.skills {
    &__content {
        width: 75%;
        @include centerElement;
    }

    &__heading,
    &__paragraph {
        width: 70%;
        margin: auto;
    }

    &__heading {
        margin-bottom: 5rem;
    }
}

.skill {
    border-bottom: 1px solid rgba($color-white, .7);
    transition: border .3s, padding .2s;

    &:hover {
        border-bottom: 2px solid rgba(#fff, 1);
        padding-bottom: 3px;
    }
}

@media only screen and (max-width: 750px) {
    .skills {
        &__content,
        &__heading,
        &__paragraph {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .skills {
        &__content,
        &__heading,
        &__paragraph {
            width: 97%;
        }
    }
}