.card {
    margin: 3rem;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover &__text {
        background-color: $color-darker;
    }

    &:hover &__image {
        transform: translateY(-10px);
        box-shadow: 15px 15px 15px $color-darker;
    }

    &__image {
        height: 25rem;
        border-radius: 5px;
        box-shadow: 8px 8px 15px $color-darker;
        transition: all .2s;
    }

    &__text {
        width: 600px;
        margin-left: 15rem;
        border-radius: 5px;
        padding: 5rem;
        transition: all .3s;
    }

    &__info {
        font-size: 1.6rem;
        margin: 2rem 0;
    }
}

@media only screen and (max-width: 1275px) {
    .card {
        flex-direction: column;
        margin: 5rem auto;
        border: none;
        box-shadow: none;

        &__image {
            border: 1px solid rgba($color-white, .3);
            width: 60%;
            height: auto;
            margin: auto;
        }

        &__text {
            margin: 1rem auto;
            text-align: center;
            width: 80%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .card {
        &__image {
            width: 100%;
        }
    }
}