#scrollTop {
    height: 4rem;
    margin: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;

    &:hover {
        cursor: pointer;

        & path {
            fill: rgba($color-white, 1);
        }
    }

    & path {
        fill: rgba($color-white, .5);
        transition: all .2s;
    }
}