*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: $color-white;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

@media only screen and (max-width: 640px), (max-height: 800px) {
    html {
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-dark;
}

::selection {
    background-color: $color-selection;
    color: $color-white;
}