body {
    font-family: 'Roboto Slab', serif;
}

.navigation {
    font-size: 2.5rem !important;
}

@media only screen and (max-width: 500px) {
    .navigation {
        font-size: 5rem !important;
    }
}

.heading {
    font-size: 4rem !important;
    font-weight: 400;
}

.secondary-heading {
    font-weight: 200;
    font-size: 2rem !important;
}

.paragraph {
    font-size: 2rem !important;
}

.paragraph--small {
    font-size: 1.3rem !important;
}

.link--small {
    font-size: 1.5rem !important;
}

.cta {
    font-size: 2.4rem !important;
}