body {
    font-family: 'Roboto Slab', serif;
}

.navigation {
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
}

.heading--small {
    font-size: 4rem;
}

.paragraph {
    font-size: 2rem;
}