body {
    font-family: 'Roboto Slab', serif;
}

.navigation {
    font-size: 2.5rem;
}

.heading {
    font-size: 4rem;
    font-weight: 400;
}

.secondary-heading {
    font-weight: 200;
    font-size: 2rem;
}

.paragraph {
    font-size: 2rem;
}

.paragraph--small {
    font-size: 1.3rem;
}

.link--small {
    font-size: 1.5rem;
}